[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Exec=xflock4
Icon=lock
StartupNotify=false
Terminal=false
Categories=X-XFCE;X-Xfce-Toplevel;
OnlyShowIn=XFCE;
Name=Lock Screen
Comment=Requires password to unlock
