button-icon=/usr/share/linuxmint/logo.png
launcher-show-name=true
launcher-show-description=true
favorites=firefox.desktop,thunderbird.desktop,hexchat.desktop,mintinstall.desktop,Thunar.desktop,gedit.desktop,gcalctool.desktop,xfce4-terminal.desktop,xed.desktop,gnome-calculator.desktop,xfce4-taskmanager.desktop
hover-switch-category=true
position-search-alternate=true
position-commands-alternate=false
position-categories-alternate=true
command-switchuser=dm-tool switch-to-greeter
